Podfile.lock
*.xcuserstate
CSScenariosSDK.xcodeproj/xcuserdata
CSScenariosSDK.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
Carthage/Build
Carthage/Checkouts
build
Pods
CSScenariosSDK.xcodeproj/xcuserdata
fastlane/test_output
